<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LOGIN</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="log_fi.css">
</head>
<body>
    <div class="home_but">
        <a href="/"><span class="home_but_in"><b><-- Back</b></span></a>
    </div>
    <!--<div class="vid_place">-->
        <!--<video class="vidd" src="source%20(1).mp4" autoplay loop muted></video>-->
    <!--</div>-->
    <div class="content_cen">
        <div class="log_in_out"><p class="log_now">Login Now</p></div>
        <div class="user_pass">
            <form action="/login" method="post">
                <span class="glyphicon glyphicon-user icon1"></span>
                <input placeholder="E-mail" name="username" type="email" autocomplete="off" required>
                <span class="glyphicon glyphicon-lock icon2"></span>
                <input placeholder="Password" name="password" type="password" autocomplete="off" required>
                <div class="rem_me">
                    <span class="rem">
                        <input type="checkbox"><span class="remm">Remember Me</span>
                    </span>
                    <!--<a href="#">Forgot Password</a>-->
                </div>
                <!--<div class="conti_with">-->
                    <!--<p>Continue with</p>-->
                <!--</div>-->
                <!--<div class="social_icon">-->
                    <!--<ul>-->
                        <!--<li>-->
                            <!--<a href="#" class="fa fa-facebook fb"></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" class="fa fa-twitter tw"></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" class="fa fa-google-plus gp" ></a>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<a href="#" class="fa fa-pinterest pi"></a>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
                <input type="submit" value="Login">
                <div class="create_acc">
                    <span class="or">or</span><a href="signup.html"> create new account?</a>
                </div>

            </form>
        </div>
    </div>
    <div></div>
</body>
</html>