<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SIGNUP</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="sign_fi.css">
</head>
<body>
<header></header>
<div class="home_but">
    <a href="/"><span class="home_but_in"><b><-- Back</b></span></a>
</div>
<div class="content_cen">
    <div class="log_in_out"><p class="log_now">Sign Up</p></div>
    <div class="user_pass">
        <form action="/local-reg" method="post">
            <input placeholder="First Name" class="fname" type="text" name="first_name" autocomplete="off" required>
            <input placeholder="Last Name" class="lname" type="text" name="last_name" autocomplete="off" required>
            <span class="glyphicon glyphicon-user icon1"></span>
            <input placeholder="E-mail" name="username" type="email" autocomplete="off" required>
            <span class="glyphicon glyphicon-lock icon2"></span>
            <input placeholder="Password" name="password" type="password" autocomplete="off" required>
            <span class="glyphicon glyphicon-lock icon3"></span>
            <input placeholder="Re-enter password" type="password" autocomplete="off" required>
            <input type="submit" value="Create Account">

        </form>
    </div>
</div>
<div></div>
</body>
</html>