<!-- views/home.handlebars -->
<!--{{#if user}}-->
    <!--<div class="jumbotron">-->

    <!--</div>-->

<!--{{else}}-->
    <!--<div class="jumbotron">-->
        <!--<h1>MongoDB User Authentication</h1>-->
        <!--<p>Sign in and view your profile!</p>-->
        <!--<p>-->
            <!--<a href="/signin" class="btn btn-primary btn-lg" role="button">-->
                <!--<span class="glyphicon glyphicon-user"></span>-->
                <!--Sign in!-->
            <!--</a>-->
        <!--</p>-->
    <!--</div>-->

<!--{{/if}}-->